
<mat-accordion id="weatherListEU">
	<mat-expansion-panel *ngFor="let data of weatherList | keyvalue" (opened)="getCityWeatherForecast(data.key)">

		<mat-expansion-panel-header>

			<mat-panel-title>
				{{ data.key }} ( {{ data.value.main.temp }}'C )
			</mat-panel-title>

			<mat-panel-description>
				Wind speed :{{ data.value.wind.speed }} km/h
			</mat-panel-description>

		</mat-expansion-panel-header>

		<h4>Forecast for next few hours</h4>
		<!--lazy loaded-->
		<ng-template matExpansionPanelContent>
			<div class="example-container mat-elevation-z8">
				<table mat-table [dataSource]="selectedWeatherForecast">
					<!-- Position Column -->
					<ng-container matColumnDef="dt_txt">
						<th mat-header-cell *matHeaderCellDef> Time </th>
						<td mat-cell *matCellDef="let element">{{ element.dt_txt | date : 'HH:mm' }} </td>
					</ng-container>

					<ng-container matColumnDef="temp">
						<th mat-header-cell *matHeaderCellDef>Temperature </th>
						<td mat-cell *matCellDef="let element"> {{element.main.temp}}'C </td>
					</ng-container>

					<ng-container matColumnDef="speed">
						<th mat-header-cell *matHeaderCellDef>Wind Speed </th>
						<td mat-cell *matCellDef="let element"> {{element.wind.speed}} km/h </td>
					</ng-container>

					<ng-container matColumnDef="description">
						<th mat-header-cell *matHeaderCellDef>Details</th>
						<td mat-cell *matCellDef="let element"> {{element.weather[0].description}} </td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>
		</ng-template>

	</mat-expansion-panel>
</mat-accordion>